<div class="articles-list row">
  <a
    href="clanek.asp?id=Chcete-videt-hvezdy-svetoveho-hokeje-v-akci-Stale-mate-moznost--8247"
    class="col-md-6 col-sm-6 col-sm-6 col-xs-6 article"
  >
    <div class="article-inner">
      <div class="article-photo">
        <img
          src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=530&amp;h=300&amp;mtime=1714742852&amp;file=http://www.hstrebic.cz//foto_tre/ms-hvezdy-2024-vstupenky-web.jpg"
        />
      </div>
      <div class="article-body">
        <div class="cat">Aktuální zprávy</div>
        <h2>
          Chcete vidět hvězdy světového hokeje v akci? Stále máte možnost!
        </h2>
        <div class="date">03.05.2024</div>
      </div>
    </div>
  </a>

  <a
    href="clanek.asp?id=Velka-posila-do-obrany-V-Trebici-bude-pusobit-zkuseny-Jakub-Stehlik-8246"
    class="col-md-6 col-sm-6 col-sm-6 col-xs-6 article"
  >
    <div class="article-inner">
      <div class="article-photo">
        <img
          src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=530&amp;h=300&amp;mtime=1714736824&amp;file=http://www.hstrebic.cz//files/articles_photo/8246_stehla111.jpg"
        />
      </div>
      <div class="article-body">
        <div class="cat">Aktuální zprávy</div>
        <h2>
          Velká posila do obrany! V Třebíči bude působit zkušený Jakub Stehlík
        </h2>
        <div class="date">03.05.2024</div>
      </div>
    </div>
  </a>

  <a
    href="clanek.asp?id=Jaka-je-situace-ohledne-Martina-Docekala-Mame-spatne-i-dobre-zpravy-8245"
    class="col-md-6 col-sm-6 col-sm-6 col-xs-6 article"
  >
    <div class="article-inner">
      <div class="article-photo">
        <img
          src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=530&amp;h=300&amp;mtime=1714587070&amp;file=http://www.hstrebic.cz//files/articles_photo/8245_n6a3054.jpg"
        />
      </div>
      <div class="article-body">
        <div class="cat">Aktuální zprávy</div>
        <h2>
          Jaká je situace ohledně Martina Dočekala? Máme špatné i dobré zprávy
        </h2>
        <div class="date">02.05.2024</div>
      </div>
    </div>
  </a>

  <a
    href="clanek.asp?id=Pecka-pro-Trebic-prichazi-strelec-Tomas-Svoboda-8243"
    class="col-md-6 col-sm-6 col-sm-6 col-xs-6 article"
  >
    <div class="article-inner">
      <div class="article-photo">
        <img
          src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=530&amp;h=300&amp;mtime=1714502487&amp;file=http://www.hstrebic.cz//files/articles_photo/8243_img-20240429-wa0001.jpg"
        />
      </div>
      <div class="article-body">
        <div class="cat">Aktuální zprávy</div>
        <h2>Pecka pro Třebíč, přichází střelec Tomáš Svoboda</h2>
        <div class="date">01.05.2024</div>
      </div>
    </div>
  </a>

  <a
    href="clanek.asp?id=Pavel-Jekel-po-osmi-letech-konci-v-Trebici-8244"
    class="col-md-6 col-sm-6 col-sm-6 col-xs-6 article"
  >
    <div class="article-inner">
      <div class="article-photo">
        <img
          src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=530&amp;h=300&amp;mtime=1714509525&amp;file=http://www.hstrebic.cz//files/articles_photo/8244_jekel222.jpg"
        />
      </div>
      <div class="article-body">
        <div class="cat">Aktuální zprávy</div>
        <h2>Pavel Jekel po osmi letech končí v Třebíči</h2>
        <div class="date">30.04.2024</div>
      </div>
    </div>
  </a>

  <a
    href="clanek.asp?id=Martin-Docekal-a-Antonin-Boruta-zabodovali-v-ankete-Hokej-cz-8242"
    class="col-md-6 col-sm-6 col-sm-6 col-xs-6 article"
  >
    <div class="article-inner">
      <div class="article-photo">
        <img
          src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=530&amp;h=300&amp;mtime=1714493968&amp;file=http://www.hstrebic.cz//files/articles_photo/8242_dodo111.jpg"
        />
      </div>
      <div class="article-body">
        <div class="cat">Aktuální zprávy</div>
        <h2>Martin Dočekal a Antonín Bořuta zabodovali v anketě Hokej.cz</h2>
        <div class="date">30.04.2024</div>
      </div>
    </div>
  </a>
</div>
