<aside class="col-sm-4">
  <div class="aside-inner">
    <div class="box box-standings">
      <h2 class="heading">Partneří</h2>
      <div class="boxPartners">
        <a href="https://www.hstrebic.cz" title="správný sport" target="_blank"
          ><img src="images/content/1.png"
        /></a>
        <a href="http://www.trebic.cz" title="Třebíč" target="_blank"
          ><img src="images/content/1.png"
        /></a>
        <a href="http://www.khnp.co.kr/eng/main.do" title="KHNP" target="_blank"
          ><img src="images/content/2.png"
        /></a>
        <a href="https://www.cez.cz/" title="ČEZ" target="_blank"
          ><img src="images/content/3.jpeg"
        /></a>
        <a href="https://kapucin.cz/" title="Kapucín" target="_blank"
          ><img src="images/content/1.png"
        /></a>
        <a href="https://www.ceskyhokej.cz/" title="ČESKÝ HOKEJ" target="_blank"
          ><img src="images/content/4.png"
        /></a>
        <a href="https://www.hstrebic.cz" title="správný sport" target="_blank"
          ><img src="images/content/1.png"
        /></a>
        <a href="http://www.trebic.cz" title="Třebíč" target="_blank"
          ><img src="images/content/1.png"
        /></a>
        <a href="http://www.khnp.co.kr/eng/main.do" title="KHNP" target="_blank"
          ><img src="images/content/2.png"
        /></a>
        <a href="https://www.cez.cz/" title="ČEZ" target="_blank"
          ><img src="images/content/3.jpeg"
        /></a>
        <a href="https://kapucin.cz/" title="Kapucín" target="_blank"
          ><img src="images/content/1.png"
        /></a>
        <a href="https://www.ceskyhokej.cz/" title="ČESKÝ HOKEJ" target="_blank"
          ><img src="images/content/4.png"
        /></a>
      </div>
      <a href="tabulka.asp" class="show-more">Partneří </a>
    </div>
  </div>
  <div></div>
</aside>
