.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.h1,
.o-content h1 {
  font-family: Rajdhani;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
}
