<header class="header" id="navbar">
  <div class="dark-red">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 left-box">
       
          <a
            href="http://www.hokej.cz/tv/hokejka/chl"
            target="_blank"
            class="ico ico-live"
            >Live přenosy</a
          >
          <a href="rozpis_ledu.asp" class="ico ico-ice">Rozpis ledu</a>
        </div>
        <div class="col-sm-6 right-box">
          <span>Sledujte nás na sociálních sítích</span>
          <a
            href="https://www.facebook.com/hst1928/"
            class="ico ico-fb"
            target="_blank"
          ></a>
          <a
            href="https://www.youtube.com/channel/UCQh3ejgBYhpnPlJfPEW8XVA"
            class="ico ico-yt"
            target="_blank"
          ></a>
          <a
            href="https://www.instagram.com/hstrebic/"
            class="ico ico-ig"
            target="_blank"
          ></a>
        </div>
      </div>
    </div>
  </div>

  <div class="light-red">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 links-left">
          <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Klub</a
              >
              <div class="dropdown-menu">
                <div class="container container-dropdown">
                  <a href="zobraz.asp?t=klub-organizace" class="dropdown-item"
                    >Organizace</a
                  >
                  <a
                    href="download/NAVSTEVNI_RAD.pdf"
                    target="_blank"
                    class="dropdown-item"
                    >Návštěvní řád</a
                  >
                  <a href="zobraz.asp?t=klub-vstupenky" class="dropdown-item"
                    >Vstupenky</a
                  >
                  <a href="zobraz.asp?t=klub-stadion" class="dropdown-item"
                    >Stadion</a
                  >
                  <a
                    href="zobraz.asp?t=klub-realizacni-tymy"
                    class="dropdown-item"
                    >Realizační týmy</a
                  >
                  <a href="rozpis_ledu.asp" class="dropdown-item"
                    >Rozpis ledu</a
                  >
                  <a href="zobraz.asp?t=odkazy" class="dropdown-item"
                    >Užitečné odkazy</a
                  >
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >A-tým</a
              >
              <div class="dropdown-menu">
                <div class="container container-dropdown">
                  <a href="soupiska.asp" class="dropdown-item">Hráči</a>

                  <a href="zapasy.asp?sezona=2025prip" class="dropdown-item"
                    >Příprava</a
                  >
                  <a href="zapasy.asp?sezona=2024" class="dropdown-item"
                    >Chance liga</a
                  >
                  <a href="tabulka.asp" class="dropdown-item">Tabulka</a>
                  <a href="zapasy.asp?sezona=2023" class="dropdown-item"
                    >Zápasy ostatních sezón</a
                  >

                  <a href="zobraz.asp?t=realizacni-tym" class="dropdown-item"
                    >Realizační tým</a
                  >
                  <a
                    href="statistiky.asp?sezona=2024&cast=1"
                    class="dropdown-item"
                    >Statistiky</a
                  >
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Mládež</a
              >
              <div class="dropdown-menu">
                <div class="container container-dropdown">
                  <a href="/clanek.asp?id=2161" class="dropdown-item"
                    >Nábor nadějí</a
                  >
                  <a href="/zapasy.asp?sezona=2024JUN" class="dropdown-item"
                    >Junioři</a
                  >
                  <a href="/zapasy.asp?sezona=2024DOR" class="dropdown-item"
                    >Dorost</a
                  >
                  <a href="/zapasy.asp?sezona=2024SZ" class="dropdown-item"
                    >Starší žáci A</a
                  >
                  <a href="/zapasy.asp?sezona=2024SZ-2" class="dropdown-item"
                    >Starší žáci B</a
                  >
                  <a href="/zapasy.asp?sezona=2024MZ" class="dropdown-item"
                    >Mladší žáci C</a
                  >
                  <a href="/zapasy.asp?sezona=2024MZD" class="dropdown-item"
                    >Mladší žáci D</a
                  >
                  <a href="/zapasy.asp?sezona=2024Z5" class="dropdown-item"
                    >5. třída</a
                  >
                  <a href="/zapasy.asp?sezona=2024Z4" class="dropdown-item"
                    >4. třída</a
                  >
                  <a href="/zapasy.asp?sezona=2024Z3" class="dropdown-item"
                    >3. třída</a
                  >
                  <a
                    href="/soupiska.asp?sezona=2024&kategorie=Z2"
                    class="dropdown-item"
                    >2. třída</a
                  >
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Multimédia</a
              >
              <div class="dropdown-menu">
                <div class="container container-dropdown">
                  <a
                    href="https://www.youtube.com/channel/UCQh3ejgBYhpnPlJfPEW8XVA"
                    class="dropdown-item"
                    >Videokanál HST</a
                  >
                  <a href="fotogalerie.asp" class="dropdown-item"
                    >Fotogalerie</a
                  >
                  <a href="zobraz.asp?t=download" class="dropdown-item"
                    >Ke stažení</a
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
        <a href="index.asp" class="brand"><img src="/img/logo_3.png" /></a>
        <div class="col-sm-6 links-right">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://sktrebic.enigoo.cz/app/9f746bb2d26fc36d9959d11b07a10d98"
                aria-haspopup="true"
                aria-expanded="false"
                target="_blank"
                style="
                  background-color: white;
                  font-weight: bold;
                  color: red;
                  border-radius: 5px;
                  margin: 12px 5px;
                  padding: 11px 5px;
                "
              >
                Vstupenky
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Fanzóna</a
              >
              <div class="dropdown-menu">
                <div class="container container-dropdown">
                  <!-- <a href="http://fanshop.hstrebic.cz" target="_blank" class="dropdown-item">Fanshop</a>   -->
                  <!-- <a href="offline.asp" class="dropdown-item">Ptejte se</a>  -->
                  <a href="zobraz.asp?t=hra" class="dropdown-item">Hra</a>
                  <a href="zobraz.asp?t=souteze" class="dropdown-item"
                    >Soutěže</a
                  >
                  <a
                    href="https://www.facebook.com/hst1928"
                    target="_blank"
                    class="dropdown-item"
                    >Facebook</a
                  >
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Partneři</a
              >
              <div class="dropdown-menu">
                <div class="container container-dropdown">
                  <a href="zobraz.asp?t=partneri" class="dropdown-item"
                    >Rozdělení partnerů</a
                  >
                  <a
                    href="zobraz.asp?t=charitativni-projekty"
                    class="dropdown-item"
                    >Charitativní projekty</a
                  >
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Historie</a
              >
              <div class="dropdown-menu">
                <div class="container container-dropdown">
                  <a href="zobraz.asp?t=klub-historie" class="dropdown-item"
                    >Historie</a
                  >
                  <a
                    href="zobraz.asp?t=klub-sin-slavy-rozcestnik"
                    class="dropdown-item"
                    >Síň slávy</a
                  >
                  <a href="zobraz.asp?t=klub-umisteni" class="dropdown-item"
                    >Umístění</a
                  >
                  <a
                    href="zobraz.asp?t=klub-prehled-treneru"
                    class="dropdown-item"
                    >Přehled trenérů</a
                  >
                  <a
                    href="zobraz.asp?t=klub-statisticka-nej"
                    class="dropdown-item"
                    >Statistická nej</a
                  >
                  <a href="/soupiska.asp?sezona=1998" class="dropdown-item"
                    >Historické soupisky</a
                  >
                  <a href="zobraz.asp?t=prehled-kapitanu" class="dropdown-item"
                    >Přehled kapitánů</a
                  >
                  <a href="zobraz.asp?t=lidri-sezon" class="dropdown-item"
                    >Lídři sezón</a
                  >
                  <a href="zobraz.asp?t=milniky-a-jubilea" class="dropdown-item"
                    >Milníky a jubilea</a
                  >
                </div>
              </div>
            </li>
          </ul>
          <a href="vyhledavani.asp" class="search-ico"
            ><img src="/img/magnifying_glass.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>
</header>
