<section class="login-section">
  <div class="container">
    <h1 class="h1">Přihlášení</h1>
    <div class="login-section__inner">
      <form action="">
        <label>
          Login
          <input type="email" required />
        </label>
        <label>
          Heslo
          <input type="password" required />
        </label>
        <button class="btn btn-primary">Přihlásit</button>
      </form>
    </div>
  </div>
</section>
