<footer class="footer">
  <div class="light-red">
    <div class="container first-line">
      <div class="row">
        <div class="col-sm-6 left-box">HK Mystery Kuřim</div>
        <div class="col-sm-6 right-box">Byl založen v roce 2019</div>
      </div>
    </div>
  </div>

  <div class="dark-red last">
    <div class="container last-line">
      <div class="row">
        <div class="col-sm-6 left-box">
          © HC Mystery Kuřim, 2019 - 2024. Všechna práva vyhrazena.
        </div>
        <a href="/" class="brand"><img src="images/content/logo.png" /></a>
        <div class="col-sm-6 right-box">
          Vyrobeno v eSports.cz —
          <a href="http://esports.cz" target="_blank">www.esports.cz</a><br />
          <a
            href="javascript:void(0);"
            data-cc="c-settings"
            aria-haspopup="dialog"
            >Nastavení cookies</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
