{% extends "@components/base/base.twig" %} {% set title = "04.0_archive" %} {%
block main %}

<div class="dark-page"></div>
  
<div class="container layout">
  <div class="row">
    <main class="col-sm-8">
      <div class="main-inner"><br>
        <div class="row">
          <div class="col-sm-12 main-text">

    <h1 class="heading">Archiv článků</h1>
    <br style="clear: both" />
    <div class="text">
    <form action="archiv.asp" method="get" class="archiv-form">

      <select name="kategorie">
        <option value="">&ndash; Kategorie &ndash;</option>
        <option value='1'>Aktuální zprávy</option><option value='2'>Rozhovory</option><option value='3'>Pohled do historie</option><option value='4'>Tiskové zprávy</option><option value='5'>Mládežnický hokej</option><option value='6'>Reportáže</option><option value='7'>Ohlasy po utkání</option><option value='8'>Pozvánky na zápas</option><option value='9'>Fanoušci</option><option value='10'>Soutěž</option><option value='11'>Fotogalerie</option><option value='15'>Tomáš Zelenka</option><option value='16'>Dotazník</option>
      </select>

      <select name='rok' style='min-width: 120px'>
        <option value="">&ndash; Rok &ndash;</option>
        <option value='2024'>2024</option><option value='2023'>2023</option><option value='2022'>2022</option><option value='2021'>2021</option><option value='2020'>2020</option><option value='2019'>2019</option><option value='2018'>2018</option><option value='2017'>2017</option><option value='2016'>2016</option>
      </select>

      <select name='mesic' style='min-width: 130px'>
        <option value="">&ndash; Měsíc &ndash;</option>
        <option value='1'>leden</option><option value='2'>únor</option><option value='3'>březen</option><option value='4'>duben</option><option value='5'>květen</option><option value='6'>červen</option><option value='7'>červenec</option><option value='8'>srpen</option><option value='9'>září</option><option value='10'>říjen</option><option value='11'>listopad</option><option value='12'>prosinec</option>
      </select>


      <input type="text" name="text" value="" placeholder="Hledaný text" style="width: 220px" />

      <input type="submit" value="Vyhledat články" class="btn btn-primary" />

      <div class="clear"></div>

    </form>
    <hr />

    <div class='articles-list'><div class='item'><a href='zapas.asp?id=Ctvrte-vitezstvi-v-priprave-zapas-s-Chomutovem-musely-rozseknout-az-najezdy--9562' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1724782312&amp;file=http://www.hstrebic.cz//files/articles_photo/8285_received-2456412221216137.jpeg")'></a><div class='text'><strong>Reportáže</strong><a href='zapas.asp?id=Ctvrte-vitezstvi-v-priprave-zapas-s-Chomutovem-musely-rozseknout-az-najezdy--9562'>Čtvrté vítězství v přípravě, zápas s Chomutovem musely rozseknout až nájezdy </a><div class='date'>včera &nbsp;|&nbsp; Klub, foto: Sabina Prokešová</div></div></div><hr /><div class='item'><a href='clanek.asp?id=Podpis-v-brankovisti-o-misto-dvojky-zabojuji-dva-brankari-8284' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1724752785&amp;file=http://www.hstrebic.cz//files/articles_photo/8284_hst.jpg")'></a><div class='text'><strong>Aktuální zprávy</strong><a href='clanek.asp?id=Podpis-v-brankovisti-o-misto-dvojky-zabojuji-dva-brankari-8284'>Podpis v brankovišti, o místo dvojky zabojují dva brankáři</a><div class='date'>včera &nbsp;|&nbsp; Klub, grafika: Sabina Prokešová</div></div></div><hr /><div class='item'><a href='clanek.asp?id=Bile-hvezdy-po-uspechu-nad-Jestraby-nabiraji-smer-Breclav-vyzvou-Chomutov--8283' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1724710352&amp;file=http://www.hstrebic.cz//files/articles_photo/8283_micha-lek.jpg")'></a><div class='text'><strong>Pozvánky na zápas</strong><a href='clanek.asp?id=Bile-hvezdy-po-uspechu-nad-Jestraby-nabiraji-smer-Breclav-vyzvou-Chomutov--8283'>Bílé hvězdy po úspěchu nad Jestřáby nabírají směr Břeclav, vyzvou Chomutov!</a><div class='date'>před 2 dny &nbsp;|&nbsp; Viktor Pavlovec, foto: Sabina Prokešová</div></div></div><hr /><div class='item'><a href='clanek.asp?id=David-Dolnicek-o-posilach-kadru-hre-i-stadionu-v-azylu-8282' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1724405810&amp;file=http://www.hstrebic.cz//files/articles_photo/8282_img-20240823-093606.jpg")'></a><div class='text'><strong>Rozhovory</strong><a href='clanek.asp?id=David-Dolnicek-o-posilach-kadru-hre-i-stadionu-v-azylu-8282'>David Dolníček o posilách, kádru, hře i stadionu v azylu</a><div class='date'>23.08.2024 &nbsp;|&nbsp; Klub foto: Sabina Prokešová</div></div></div><hr /><div class='item'><a href='clanek.asp?id=Dva-cerstve-podpisy-HST-si-pojistila-sluzby-Erika-Marese-a-Petera-Lichance--8281' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1724367565&amp;file=http://www.hstrebic.cz//files/articles_photo/8281_mrliv.jpg")'></a><div class='text'><strong>Aktuální zprávy</strong><a href='clanek.asp?id=Dva-cerstve-podpisy-HST-si-pojistila-sluzby-Erika-Marese-a-Petera-Lichance--8281'>Dva čerstvé podpisy! HST si pojistila služby Erika Mareše a Petera Lichance </a><div class='date'>22.08.2024 &nbsp;|&nbsp; Pavel Mandát, FOTO A GRAFIKA Sabina Prokešová</div></div></div><hr /><div class='item'><a href='zapas.asp?id=Moravky-videly-kanonadu-Trebicsti-nasazeli-Jestrabum-sest-branek-9560' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1724363676&amp;file=http://www.hstrebic.cz//files/articles_photo/8278_received-1725545051585810.jpeg")'></a><div class='text'><strong>Reportáže</strong><a href='zapas.asp?id=Moravky-videly-kanonadu-Trebicsti-nasazeli-Jestrabum-sest-branek-9560'>Morávky viděly kanonádu, Třebíčští nasázeli Jestřábům šest branek</a><div class='date'>22.08.2024 &nbsp;|&nbsp; Klub, foto: Sabina Prokešová</div></div></div><hr /><div class='item'><a href='clanek.asp?id=Druhy-domaci-zapas-v-kratkem-sledu-Bile-hvezdy-zmeri-sily-s-Jestraby--8277' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1724273350&amp;file=http://www.hstrebic.cz//files/articles_photo/8277_img-1327.jpg")'></a><div class='text'><strong>Pozvánky na zápas</strong><a href='clanek.asp?id=Druhy-domaci-zapas-v-kratkem-sledu-Bile-hvezdy-zmeri-sily-s-Jestraby--8277'>Druhý domácí zápas v krátkém sledu! Bílé hvězdy změří síly s Jestřáby! </a><div class='date'>21.08.2024 &nbsp;|&nbsp; Viktor Pavlovec, foto: Sabina Prokešová</div></div></div><hr /><div class='item'><a href='zapas.asp?id=Moravskobudejovicky-led-pokrten-vyhoru-proti-Pardubicim-9559' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1724190657&amp;file=http://www.hstrebic.cz//files/articles_photo/8276_received-908475921084992.jpeg")'></a><div class='text'><strong>Reportáže</strong><a href='zapas.asp?id=Moravskobudejovicky-led-pokrten-vyhoru-proti-Pardubicim-9559'>Moravskobudějovický led pokřtěn výhoru proti Pardubicím</a><div class='date'>20.08.2024 &nbsp;|&nbsp; Jiří Mokrý</div></div></div><hr /><div class='item'><a href='clanek.asp?id=Poprve-v-Moravskych-Budejovicich-Bile-hvezdy-vyzvou-Dynamo-B--8275' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1724076937&amp;file=http://www.hstrebic.cz//files/articles_photo/8275_img-20240812-1014331.jpg")'></a><div class='text'><strong>Pozvánky na zápas</strong><a href='clanek.asp?id=Poprve-v-Moravskych-Budejovicich-Bile-hvezdy-vyzvou-Dynamo-B--8275'>Poprvé v Moravských Budějovicích! Bílé hvězdy vyzvou Dynamo B!</a><div class='date'>19.08.2024 &nbsp;|&nbsp; Viktor Pavlovec, foto: Sabina Prokešová</div></div></div><hr /><div class='item'><a href='clanek.asp?id=Upozorneni-pro-fanousky-V-Moravskych-Budejovicich-na-hokej-staro-novym-vchodem--8274' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1723849518&amp;file=http://www.hstrebic.cz//files/articles_photo/8274_logohst.jpg")'></a><div class='text'><strong>Aktuální zprávy</strong><a href='clanek.asp?id=Upozorneni-pro-fanousky-V-Moravskych-Budejovicich-na-hokej-staro-novym-vchodem--8274'>Upozornění pro fanoušky: V Moravských Budějovicích na hokej (staro)novým vchodem </a><div class='date'>16.08.2024 &nbsp;|&nbsp; Pavel Mandát, GRAFIKA: Sabina Prokešová</div></div></div><hr /><div class='item'><a href='zapas.asp?id=V-Tabore-dala-Trebic-pet-branek-na-vyhru-to-nestacilo-9558' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1723753744&amp;file=http://www.hstrebic.cz//files/articles_photo/8273_received-854915203213898.jpeg")'></a><div class='text'><strong>Reportáže</strong><a href='zapas.asp?id=V-Tabore-dala-Trebic-pet-branek-na-vyhru-to-nestacilo-9558'>V Táboře dala Třebíč pět branek, na výhru to nestačilo</a><div class='date'>15.08.2024 &nbsp;|&nbsp; Klub, foto: Michal Fiala</div></div></div><hr /><div class='item'><a href='clanek.asp?id=Po-uspesne-premiere-vyrazi-bile-hvezdy-smer-Tabor--8272' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1723675411&amp;file=http://www.hstrebic.cz//files/articles_photo/8272_mican31.jpg")'></a><div class='text'><strong>Pozvánky na zápas</strong><a href='clanek.asp?id=Po-uspesne-premiere-vyrazi-bile-hvezdy-smer-Tabor--8272'>Po úspěšné premiéře vyráží bílé hvězdy směr Tábor!</a><div class='date'>14.08.2024 &nbsp;|&nbsp; Viktor Pavlovec, foto: Sabina Prokešová</div></div></div><hr /><div class='item'><a href='zapas.asp?id=Premiera-vysla-vitezne-divaci-videli-devet-branek-9557' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1723623282&amp;file=http://www.hstrebic.cz//files/articles_photo/8271_received-1015964896746706.jpeg")'></a><div class='text'><strong>Reportáže</strong><a href='zapas.asp?id=Premiera-vysla-vitezne-divaci-videli-devet-branek-9557'>Premiéra vyšla vítězně, diváci viděli devět branek</a><div class='date'>13.08.2024 &nbsp;|&nbsp; Klub, foto: Michal Fiala</div></div></div><hr /><div class='item'><a href='clanek.asp?id=Pripravne-zapasy-za-dvermi-Horacka-Slavia-v-utery-vyzve-druholigove-Velke-Mezirici--8270' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1723458777&amp;file=http://www.hstrebic.cz//files/articles_photo/8270_furch2.jpg")'></a><div class='text'><strong>Pozvánky na zápas</strong><a href='clanek.asp?id=Pripravne-zapasy-za-dvermi-Horacka-Slavia-v-utery-vyzve-druholigove-Velke-Mezirici--8270'>Přípravné zápasy za dveřmi! Horácká Slavia v úterý vyzve druholigové Velké Meziříčí!</a><div class='date'>12.08.2024 &nbsp;|&nbsp; Viktor Pavlovec, foto: Sabina Prokešová</div></div></div><hr /><div class='item'><a href='clanek.asp?id=Druhy-tyden-na-lede-Slapeme-do-toho-jedem-kondici-rika-Jakub-Stehlik-8269' class='img' style='background-image: url("https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=100&amp;h=100&amp;mtime=1722965115&amp;file=http://www.hstrebic.cz//files/articles_photo/8269_stehli-k2.jpg")'></a><div class='text'><strong>Aktuální zprávy</strong><a href='clanek.asp?id=Druhy-tyden-na-lede-Slapeme-do-toho-jedem-kondici-rika-Jakub-Stehlik-8269'>Druhý týden na ledě. Šlapeme do toho, jedem kondici, říká Jakub Stehlík</a><div class='date'>06.08.2024 &nbsp;|&nbsp; Klub, foto: Sabina Prokešová</div></div></div><hr /></div><br /><div class="strankovani"><span class="nextPages">Další stránky<br/></span><a href="?file=&start=0&amp;pocet=15&amp;kat=&amp;ID=&amp;typ=&amp;od=&amp;kategorie=&amp;zobraz=&amp;filtr= " class="strankovaniVyrazne">1</a><a href="?file=&start=15&amp;pocet=15&amp;kat=&amp;ID=&amp;typ=&amp;od=&amp;kategorie=&amp;zobraz=&amp;filtr= ">2</a><a href="?file=&start=30&amp;pocet=15&amp;kat=&amp;ID=&amp;typ=&amp;od=&amp;kategorie=&amp;zobraz=&amp;filtr= ">3</a><a href="?file=&start=45&amp;pocet=15&amp;kat=&amp;ID=&amp;typ=&amp;od=&amp;kategorie=&amp;zobraz=&amp;filtr= ">4</a><a href="?file=&start=60&amp;pocet=15&amp;kat=&amp;ID=&amp;typ=&amp;od=&amp;kategorie=&amp;zobraz=&amp;filtr= ">5</a><a href="?file=&start=75&amp;pocet=15&amp;kat=&amp;ID=&amp;typ=&amp;od=&amp;kategorie=&amp;zobraz=&amp;filtr= ">6</a><span class="nextPage"><a href="?file=&start=15&amp;pocet=15&amp;kat=&amp;ID=&amp;typ=&amp;od=&amp;kategorie=&amp;zobraz=&amp;filtr= "><b>>></b></a></span></div>
    
          </div>
        </div>
      </div>
    </main>
    <aside class="col-sm-4">
      <div class="aside-inner">
    <div class="box box-articles">
<h2 class="heading">Aktuálně na webu</h2>
<div class="articles-inner">
  
 
    <a href="zapas.asp?id=Ctvrte-vitezstvi-v-priprave-zapas-s-Chomutovem-musely-rozseknout-az-najezdy--9562" class="article">
      <div class="article-photo">
        <img src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=420&amp;h=230&amp;mtime=1724782312&amp;file=http://www.hstrebic.cz//files/articles_photo/8285_received-2456412221216137.jpeg">
        <div class="article-cat">Reportáže</div>
      </div>
      <div class="article-heading">Čtvrté vítězství v přípravě, zápas s Chomutovem musely rozseknout až nájezdy </div>
      <div class="article-date">včera</div>
    </a>	    
  
    <a href="clanek.asp?id=Podpis-v-brankovisti-o-misto-dvojky-zabojuji-dva-brankari-8284" class="article">
      <div class="article-heading">Podpis v brankovišti, o místo dvojky zabojují dva brankáři</div>
      <div class="article-date">včera</div>
    </a>
  
    <a href="clanek.asp?id=Dva-cerstve-podpisy-HST-si-pojistila-sluzby-Erika-Marese-a-Petera-Lichance--8281" class="article">
      <div class="article-heading">Dva čerstvé podpisy! HST si pojistila služby Erika Mareše a Petera Lichance </div>
      <div class="article-date">22.08.2024</div>
    </a>
  
    <a href="zapas.asp?id=Moravky-videly-kanonadu-Trebicsti-nasazeli-Jestrabum-sest-branek-9560" class="article">
      <div class="article-heading">Morávky viděly kanonádu, Třebíčští nasázeli Jestřábům šest branek</div>
      <div class="article-date">22.08.2024</div>
    </a>
  
    <a href="clanek.asp?id=Druhy-domaci-zapas-v-kratkem-sledu-Bile-hvezdy-zmeri-sily-s-Jestraby--8277" class="article">
      <div class="article-heading">Druhý domácí zápas v krátkém sledu! Bílé hvězdy změří síly s Jestřáby! </div>
      <div class="article-date">21.08.2024</div>
    </a>
  
    <a href="zapas.asp?id=Moravskobudejovicky-led-pokrten-vyhoru-proti-Pardubicim-9559" class="article">
      <div class="article-heading">Moravskobudějovický led pokřtěn výhoru proti Pardubicím</div>
      <div class="article-date">20.08.2024</div>
    </a>
  
    <a href="clanek.asp?id=Poprve-v-Moravskych-Budejovicich-Bile-hvezdy-vyzvou-Dynamo-B--8275" class="article">
      <div class="article-heading">Poprvé v Moravských Budějovicích! Bílé hvězdy vyzvou Dynamo B!</div>
      <div class="article-date">19.08.2024</div>
    </a>
  
</div>
</div>          <div class="box box-standings">
          <h2 class="heading">Tabulka <a href="tabulka.asp" class="more">Aktuální tabulka</a></h2>
          <div class="standings-inner">
          <style>
#play-off-table {
  width: 100%;
}
#play-off-table td {
  text-align: center;
}
</style>
<table id='play-off-table' cellspacing="0" cellpadding="0" class="table_hokej_mala table nice"><tr><td colspan=3><b>Baráž</b></td></tr><tr><td width='33%'><a href='http://www.rytirikladno.cz' target='_blank'>Kladno</a></td><td width='33%'>4:0</td><td width='33%'><a href='http://www.hc-vsetin.cz' target='_blank'>Vsetín</a></td></tr><tr><td colspan=3><b>Finále</b></td></tr><tr><td width='33%'><a href='http://www.hc-vsetin.cz' target='_blank'>Vsetín</a></td><td width='33%'>4:1</td><td width='33%'><a href='http://beranizlin.cz' target='_blank'>Zlín</a></td></tr><tr><td colspan=3><b>Semifinále</b></td></tr><tr><td width='33%'><a href='http://www.hclitomerice.cz' target='_blank'>Litoměřice</a></td><td width='33%'>3:4</td><td width='33%'><a href='http://beranizlin.cz' target='_blank'>Zlín</a></td></tr><tr><td width='33%'><a href='http://www.hc-vsetin.cz' target='_blank'>Vsetín</a></td><td width='33%'>4:1</td><td width='33%'><a href='http://www.hcdukla.cz' target='_blank'>Dukla Jihlava</a></td></tr><tr><td colspan=3><b>Čtvrtfinále</b></td></tr><tr><td width='33%'><a href='http://www.hcporuba.cz/' target='_blank'>Poruba</a></td><td width='33%'>1:3</td><td width='33%'><a href='http://www.hcdukla.cz' target='_blank'>Dukla Jihlava</a></td></tr><tr><td width='33%'><a href='http://www.hclitomerice.cz' target='_blank'>Litoměřice</a></td><td width='33%'>3:2</td><td width='33%'><a href='http://www.hstrebic.cz' target='_blank'>Třebíč</a></td></tr><tr><td width='33%'><a href='http://www.hc-vsetin.cz' target='_blank'>Vsetín</a></td><td width='33%'>3:1</td><td width='33%'><a href='http://www.hokejprerov.cz' target='_blank'>Přerov</a></td></tr><tr><td width='33%'><a href='http://www.lhkjestrabi.cz' target='_blank'>Prostějov</a></td><td width='33%'>0:3</td><td width='33%'><a href='http://beranizlin.cz' target='_blank'>Zlín</a></td></tr><tr><td colspan=3><b>Předkolo</b></td></tr><tr><td width='33%'><a href='' target='_blank'>Pardubice B</a></td><td width='33%'>1:2</td><td width='33%'><a href='http://www.hokejprerov.cz' target='_blank'>Přerov</a></td></tr><tr><td width='33%'><a href='http://www.hc-slavia.cz' target='_blank'>Slavia Praha</a></td><td width='33%'>1:2</td><td width='33%'><a href='http://www.hcdukla.cz' target='_blank'>Dukla Jihlava</a></td></tr>
      </table>
      
            <a href="tabulka.asp" class="show-more">Ukázat celou tabulku</a>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>

{% endblock %}
