{% extends "@components/base/base.twig" %} {% set title =
"06.0_realization-team" %} {% block main %}

<div class="dark-page"></div>

<div class="container layout">
  <div class="row">
    <main class="col-sm-8">
      <div class="main-inner">
        <br />
        <div class="row">
          <div class="col-sm-12 main-text">
            <h1 class="mb-5">Realizační tým</h1>

            <h2>Aleš Krkoška</h2>
            <ul>
              <li>Předseda klubu</li>
              <li>+420 777 214 128</li>
              <li>aleskrkoska@hcmystery.cz</li>
            </ul>

            <p>
              <img src="images/content/real-1.jpg" alt="" />
            </p>

            <h2>Ing. Eliška Krbková</h2>
            <ul>
              <li></li>
              <li><a href="tel:+420604571493">+420 604 571 493</a></li>
              <li><a href="mailto:klub@hcmystery.cz">klub@hcmystery.cz</a></li>
              <li>Místopředsedkyně klubu</li>
              <li>
                <a href="mailto:fakturace@hcmystery.cz"
                  >fakturace@hcmystery.cz</a
                >
              </li>
            </ul>
            <p class="mb-5">
              <img src="images/content/real-2.jpg" alt="" />
            </p>
            <h2>Ing. Eliška Krbková</h2>
            <ul>
              <li></li>
              <li><a href="tel:+420604571493">+420 604 571 493</a></li>
              <li><a href="mailto:klub@hcmystery.cz">klub@hcmystery.cz</a></li>
              <li>Místopředsedkyně klubu</li>
              <li>
                <a href="mailto:fakturace@hcmystery.cz"
                  >fakturace@hcmystery.cz</a
                >
              </li>
            </ul>
            <p class="mb-5">
              <img src="images/content/real-3.jpg" alt="" />
            </p>
            <h2>Ing. Eliška Krbková</h2>
            <ul>
              <li></li>
              <li><a href="tel:+420604571493">+420 604 571 493</a></li>
              <li><a href="mailto:klub@hcmystery.cz">klub@hcmystery.cz</a></li>
              <li>Místopředsedkyně klubu</li>
              <li>
                <a href="mailto:fakturace@hcmystery.cz"
                  >fakturace@hcmystery.cz</a
                >
              </li>
            </ul>
            <p class="mb-5">
              <img src="images/content/real-4.jpg" alt="" />
            </p>
          </div>
        </div>
      </div>
    </main>
    <aside class="col-sm-4">
      <div class="aside-inner">
        <br />
        <div class="box box-articles">
          <h2 class="heading">Aktuálně na webu</h2>
          <div class="articles-inner">
            <a
              href="zapas.asp?id=Ctvrte-vitezstvi-v-priprave-zapas-s-Chomutovem-musely-rozseknout-az-najezdy--9562"
              class="article"
            >
              <div class="article-photo">
                <img
                  src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=420&amp;h=230&amp;mtime=1724782312&amp;file=http://www.hstrebic.cz//files/articles_photo/8285_received-2456412221216137.jpeg"
                />
                <div class="article-cat">Reportáže</div>
              </div>
              <div class="article-heading">
                Čtvrté vítězství v přípravě, zápas s Chomutovem musely
                rozseknout až nájezdy
              </div>
              <div class="article-date">včera</div>
            </a>

            <a
              href="clanek.asp?id=Bile-hvezdy-po-uspechu-nad-Jestraby-nabiraji-smer-Breclav-vyzvou-Chomutov--8283"
              class="article"
            >
              <div class="article-heading">
                Bílé hvězdy po úspěchu nad Jestřáby nabírají směr Břeclav,
                vyzvou Chomutov!
              </div>
              <div class="article-date">před 2 dny</div>
            </a>

            <a
              href="clanek.asp?id=Dva-cerstve-podpisy-HST-si-pojistila-sluzby-Erika-Marese-a-Petera-Lichance--8281"
              class="article"
            >
              <div class="article-heading">
                Dva čerstvé podpisy! HST si pojistila služby Erika Mareše a
                Petera Lichance
              </div>
              <div class="article-date">22.08.2024</div>
            </a>

            <a
              href="zapas.asp?id=Moravky-videly-kanonadu-Trebicsti-nasazeli-Jestrabum-sest-branek-9560"
              class="article"
            >
              <div class="article-heading">
                Morávky viděly kanonádu, Třebíčští nasázeli Jestřábům šest
                branek
              </div>
              <div class="article-date">22.08.2024</div>
            </a>

            <a
              href="clanek.asp?id=Druhy-domaci-zapas-v-kratkem-sledu-Bile-hvezdy-zmeri-sily-s-Jestraby--8277"
              class="article"
            >
              <div class="article-heading">
                Druhý domácí zápas v krátkém sledu! Bílé hvězdy změří síly s
                Jestřáby!
              </div>
              <div class="article-date">21.08.2024</div>
            </a>

            <a
              href="zapas.asp?id=Moravskobudejovicky-led-pokrten-vyhoru-proti-Pardubicim-9559"
              class="article"
            >
              <div class="article-heading">
                Moravskobudějovický led pokřtěn výhoru proti Pardubicím
              </div>
              <div class="article-date">20.08.2024</div>
            </a>

            <a
              href="clanek.asp?id=Poprve-v-Moravskych-Budejovicich-Bile-hvezdy-vyzvou-Dynamo-B--8275"
              class="article"
            >
              <div class="article-heading">
                Poprvé v Moravských Budějovicích! Bílé hvězdy vyzvou Dynamo B!
              </div>
              <div class="article-date">19.08.2024</div>
            </a>
          </div>
        </div>
        <div class="box box-standings">
          <h2 class="heading">
            Tabulka <a href="tabulka.asp" class="more">Aktuální tabulka</a>
          </h2>
          <div class="standings-inner">
            <style>
              #play-off-table {
                width: 100%;
              }
              #play-off-table td {
                text-align: center;
              }
            </style>
            <table
              id="play-off-table"
              cellspacing="0"
              cellpadding="0"
              class="table_hokej_mala table nice"
            >
              <tr>
                <td colspan="3"><b>Baráž</b></td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.rytirikladno.cz" target="_blank"
                    >Kladno</a
                  >
                </td>
                <td width="33%">4:0</td>
                <td width="33%">
                  <a href="http://www.hc-vsetin.cz" target="_blank">Vsetín</a>
                </td>
              </tr>
              <tr>
                <td colspan="3"><b>Finále</b></td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hc-vsetin.cz" target="_blank">Vsetín</a>
                </td>
                <td width="33%">4:1</td>
                <td width="33%">
                  <a href="http://beranizlin.cz" target="_blank">Zlín</a>
                </td>
              </tr>
              <tr>
                <td colspan="3"><b>Semifinále</b></td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hclitomerice.cz" target="_blank"
                    >Litoměřice</a
                  >
                </td>
                <td width="33%">3:4</td>
                <td width="33%">
                  <a href="http://beranizlin.cz" target="_blank">Zlín</a>
                </td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hc-vsetin.cz" target="_blank">Vsetín</a>
                </td>
                <td width="33%">4:1</td>
                <td width="33%">
                  <a href="http://www.hcdukla.cz" target="_blank"
                    >Dukla Jihlava</a
                  >
                </td>
              </tr>
              <tr>
                <td colspan="3"><b>Čtvrtfinále</b></td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hcporuba.cz/" target="_blank">Poruba</a>
                </td>
                <td width="33%">1:3</td>
                <td width="33%">
                  <a href="http://www.hcdukla.cz" target="_blank"
                    >Dukla Jihlava</a
                  >
                </td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hclitomerice.cz" target="_blank"
                    >Litoměřice</a
                  >
                </td>
                <td width="33%">3:2</td>
                <td width="33%">
                  <a href="http://www.hstrebic.cz" target="_blank">Třebíč</a>
                </td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hc-vsetin.cz" target="_blank">Vsetín</a>
                </td>
                <td width="33%">3:1</td>
                <td width="33%">
                  <a href="http://www.hokejprerov.cz" target="_blank">Přerov</a>
                </td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.lhkjestrabi.cz" target="_blank"
                    >Prostějov</a
                  >
                </td>
                <td width="33%">0:3</td>
                <td width="33%">
                  <a href="http://beranizlin.cz" target="_blank">Zlín</a>
                </td>
              </tr>
              <tr>
                <td colspan="3"><b>Předkolo</b></td>
              </tr>
              <tr>
                <td width="33%"><a href="" target="_blank">Pardubice B</a></td>
                <td width="33%">1:2</td>
                <td width="33%">
                  <a href="http://www.hokejprerov.cz" target="_blank">Přerov</a>
                </td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hc-slavia.cz" target="_blank"
                    >Slavia Praha</a
                  >
                </td>
                <td width="33%">1:2</td>
                <td width="33%">
                  <a href="http://www.hcdukla.cz" target="_blank"
                    >Dukla Jihlava</a
                  >
                </td>
              </tr>
            </table>

            <a href="tabulka.asp" class="show-more">Ukázat celou tabulku</a>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>

{% endblock %}
