{% extends "@components/base/base.twig" %} {% set title = "07.0_match-detail" %}
{% block main %}

<div class="dark-page"></div>
<div class="container-fluid article-topstory">
  <div class="col-sm-12 topstory">
    <div class="topstory-body">
      <h1>
        Čtvrté vítězství v přípravě, zápas s Chomutovem musely rozseknout až
        nájezdy
      </h1>
      <div class="cat">Reportáže</div>
    </div>
    <img
      src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=1440&amp;h=600&amp;mtime=1724782312&amp;file=http://www.hstrebic.cz//files/articles_photo/8285_received-2456412221216137.jpeg"
      class="photo-desktop"
    />
    <img
      src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=800&amp;h=500&amp;mtime=1724782312&amp;file=http://www.hstrebic.cz//files/articles_photo/8285_received-2456412221216137.jpeg"
      class="photo-mobile"
    />
  </div>
</div>

<div class="container layout">
  <div class="row">
    <main class="col-sm-8">
      <div class="main-inner">
        <div class="perex">
          Břeclav - Páté přípravné utkání odehráli hokejisté Horácké Slavie
          netradičně v Břeclavi proti severočeskému nováčkovi MAXA LIGY -
          Chomutovu, který byl v utkání veden jako domácí. A právě Severočeši
          šli hned v první minutě do vedení, když potrestali Kadeřávkem faul
          Třebíče. Za hostující bílé hvězdy rychle vyrovnal David Michálek,
          který v osmé minutě zužitkoval přihrávku Radima Ferdy zpoza branky.
          Třetí branka zápasu přišla až v polovině zápasu a do vedení šli opět
          Piráti. Dominik Sklenář překonal Ondru Bizoně prudkou střelou z levé
          strany. O tři minuty později, tedy v šestatřicáté minutě vyrovnal
          třebíčský Petr Vodička na 2.2. V polovině třetí části do které se v
          brance postavil novic v týmu Jan Brož, šli Chomutovští potřetí v
          utkání do vedení. Z rychlého protiútoku se prosadil Martin Tůma,
          brankář Brož na jeho střelu nestačil dosáhnout, protože se musel
          přesouvat od vzdálenější tyče 3:2. V šestapadesáté minutě ale
          předvedli pohlednou kombinaci Martin Dočekal s Ladislavem Bittnerem a
          druhý jmenovaný už věděl kam s pukem - 3:3. Po šedesáti minutách tedy
          zápas neznal vítěze a tak se šlo na samostatné nájezdy, V těch se
          výborně předvedl třebíčský brankář Jan Brož, když vychytal všechny
          nájezdníky Chomutova včetně extraligou ošlehaných Hübla a Lukeše.
          Naopak za HST se prosadili Radim Ferda a David Michalčuk. Vítězná
          branka byla připsána Radimu Ferdovi a Třebíč si tak v přípravě
          připisuje čtvrté vítězství.
        </div>
        <div class="row">
          <div class="col-sm-2 main-socials">
            <div class="socials-authors">
              <div class="social-author">Vydáno: <br />včera</div>
              <div class="social-author">
                Autor: <br />Klub, foto: Sabina Prokešová
              </div>
            </div>
            <div class="socials-buttons">
              <div class="socials-buttons-heading">Sdílejte článek</div>
              <div id="socials" style="margin-top: 10px">
                <div id="button_twitter" style="display: inline-block">
                  <a
                    href="https://twitter.com/share"
                    class="twitter-share-button"
                    >Tweet</a
                  >
                  <script type="text/plain" data-cookiecategory="social">
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                  </script>
                </div>
                <div id="button_google" style="display: inline-block">
                  <g:plusone></g:plusone>
                </div>
                <div id="button_facebook" style="display: inline-block">
                  <div
                    class="fb-like"
                    data-href="http://www.hstrebic.cz/zapas.asp?id=9562"
                    data-send="true"
                    data-layout="button_count"
                    data-width="300"
                    data-show-faces="false"
                  ></div>
                </div>
                <div class="clear">&nbsp;</div>
              </div>
            </div>
          </div>
          <div class="col-sm-10 main-text">
            <div class="report-box">
              <div class="game-row">
                <div class="round">, úterý 27.8.2024</div>
                <div class="game-data">
                  <div class="team">
                    <span>CHM</span>
                    <img src="images/content/logo.png" width="70" alt="CHM" />
                  </div>
                  <div class="score win">
                    3:4<small>sn</small><span>1:1, 1:1, 1:1 </span>
                  </div>
                  <div class="team">
                    <img src="images/content/dynamo.png" width="70" alt="TRE" />

                    <span>TRE</span>
                  </div>
                </div>
              </div>

              <div class="report-row">
                <div class="report-heading">Statistiky</div>
                <div class="report-text">
                  <b>Branky a nahrávky:</b> 1. Kadeřávek (Lukeš, Hübl), 33.
                  Sklenář (Fronek, Lukeš), 51. Tůma (Vildumetz, Eret) – 3.
                  MICHÁLEK (Ferda), 36. Vodička, 56. Bittner (Dočekal) -
                  Rozhodující nájezd - Ferda. <b>Vyloučení:</b> 2:2.
                  <b>Využití:</b> 2:1. <b>V oslabení:</b> 0:0. <b>Diváci:</b> .
                  <b>Průběh utkání:</b> 1:0, 1:1, 2:1, 2:2, 3:2, 3:3.
                </div>
              </div>
              <div class="report-row">
                <div class="report-heading">Sestavy</div>
                <div class="report-text" id="roster-text">
                  <strong>Piráti Chomutov: </strong>Petrásek (Jekel)– Kadeřávek,
                  Březák, Němec, Eliáš, Poizl, Ulrych, Havel, Seemann - Fronk,
                  Hübl, Lukeš – Tůma, Eret, Guman – Svoboda J., Vildumetz,
                  Hejcman – Sklenář, Mála
                  <hr />
                  <strong>SK Horácká Slavia Třebíč: </strong>Bizoň (41. Brož) –
                  Vodička, Bořuta, Stehlík, Böhm, Furch, Kroupa, Svoboda Adam –
                  Psota, Bittner, Lichanec, Svoboda Tomáš, Vodný, Dočekal, Brož,
                  Michálek, Ferda, Jaša, Kuba, Michalčuk
                </div>
              </div>
            </div>
            <br /><br />
            <hr />
            <br />
            <h2>Ohlasy trenérů</h2>
            <div class="box_ohlasy">
              <b>David Dolníček - SK Horácká Slavia Třebíč: </b> "Byl to
              vyrovnaný zápas, první třetina byla mírně pro nás, ale skončila
              stavem 1:1. Ve druhé třetině proměnil Chomutov obrovskou šanci,
              ale zvládli jsme srovnat na 2:2. Ve třetí třetině nám soupeř ujel
              do brejku a šel znovu do vedení, i potřetí jsme ale zvládli
              vyrovnat. V nájezdech zase bezchybný náš brankář a jsme rádi, že
              se v nájezdech brankářům daří. I když zase to nějak nepřeceňujeme,
              protože v přípravě jsou nájezdy pro hráče taková spíš zábava.
              Zápas nám zase ukázal dobré i horší věci, které si ukážeme a
              rozebereme tak, jak to v přípravě má být. Zápas se hrál na velkém
              hřišti a ve velkém teple. Nakonec máme zítra kvůli nemoci Pardubic
              volno, takže hrát nebudeme."<br />

              <b>Petr Martínek (Piráti Chomutov):</b> „Vyrovnaný a zase kvalitní
              zápas, který nám určitě pomůže. Třebíč má malé hřiště, takže
              zápasy spíš ubojuje a nehraje moc hezký hokej, což se potvrdilo i
              tentokrát. Snažila se bránit střední pásmo, takže na břeclavském
              větším ledě jsme to měli trochu jednodušší. Škoda, že jsme
              neudrželi vedení a šli v závěru do oslabení, ve kterém jsme
              dostali gól. Budeme na oslabení muset zapracovat, protože v něm
              dostáváme poměrně dost gólů. Ukázalo nám to a víme, co budou hrát,
              ale to jsme už z dřívějších zkušeností tušili. Že pojedeme jenom
              nájezdy jsme se domluvili, protože tady byl hodně špatný led a
              kluci na něj hudrovali.“
            </div>

            <br />
          </div>
        </div>
      </div>
    </main>
    <aside class="col-sm-4">
      <div class="aside-inner">
        <div class="box box-articles">
          <h2 class="heading">Související články</h2>
          <div class="articles-inner">
            <a
              href="clanek.asp?id=Bile-hvezdy-po-uspechu-nad-Jestraby-nabiraji-smer-Breclav-vyzvou-Chomutov--8283"
              class="article"
            >
              <div class="article-heading">
                Bílé hvězdy po úspěchu nad Jestřáby nabírají směr Břeclav,
                vyzvou Chomutov!
              </div>
              <div class="article-date">před 2 dny</div>
            </a>

            <a
              href="zapas.asp?id=Ctvrte-vitezstvi-v-priprave-zapas-s-Chomutovem-musely-rozseknout-az-najezdy--9562"
              class="article"
            >
              <div class="article-heading">
                Čtvrté vítězství v přípravě, zápas s Chomutovem musely
                rozseknout až nájezdy
              </div>
              <div class="article-date">včera</div>
            </a>
          </div>
        </div>
        <div class="box box-standings">
          <h2 class="heading">
            Tabulka <a href="tabulka.asp" class="more">Aktuální tabulka</a>
          </h2>
          <div class="standings-inner">
            <style>
              #play-off-table {
                width: 100%;
              }
              #play-off-table td {
                text-align: center;
              }
            </style>
            <table
              id="play-off-table"
              cellspacing="0"
              cellpadding="0"
              class="table_hokej_mala table nice"
            >
              <tr>
                <td colspan="3"><b>Baráž</b></td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.rytirikladno.cz" target="_blank"
                    >Kladno</a
                  >
                </td>
                <td width="33%">4:0</td>
                <td width="33%">
                  <a href="http://www.hc-vsetin.cz" target="_blank">Vsetín</a>
                </td>
              </tr>
              <tr>
                <td colspan="3"><b>Finále</b></td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hc-vsetin.cz" target="_blank">Vsetín</a>
                </td>
                <td width="33%">4:1</td>
                <td width="33%">
                  <a href="http://beranizlin.cz" target="_blank">Zlín</a>
                </td>
              </tr>
              <tr>
                <td colspan="3"><b>Semifinále</b></td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hclitomerice.cz" target="_blank"
                    >Litoměřice</a
                  >
                </td>
                <td width="33%">3:4</td>
                <td width="33%">
                  <a href="http://beranizlin.cz" target="_blank">Zlín</a>
                </td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hc-vsetin.cz" target="_blank">Vsetín</a>
                </td>
                <td width="33%">4:1</td>
                <td width="33%">
                  <a href="http://www.hcdukla.cz" target="_blank"
                    >Dukla Jihlava</a
                  >
                </td>
              </tr>
              <tr>
                <td colspan="3"><b>Čtvrtfinále</b></td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hcporuba.cz/" target="_blank">Poruba</a>
                </td>
                <td width="33%">1:3</td>
                <td width="33%">
                  <a href="http://www.hcdukla.cz" target="_blank"
                    >Dukla Jihlava</a
                  >
                </td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hclitomerice.cz" target="_blank"
                    >Litoměřice</a
                  >
                </td>
                <td width="33%">3:2</td>
                <td width="33%">
                  <a href="http://www.hstrebic.cz" target="_blank">Třebíč</a>
                </td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hc-vsetin.cz" target="_blank">Vsetín</a>
                </td>
                <td width="33%">3:1</td>
                <td width="33%">
                  <a href="http://www.hokejprerov.cz" target="_blank">Přerov</a>
                </td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.lhkjestrabi.cz" target="_blank"
                    >Prostějov</a
                  >
                </td>
                <td width="33%">0:3</td>
                <td width="33%">
                  <a href="http://beranizlin.cz" target="_blank">Zlín</a>
                </td>
              </tr>
              <tr>
                <td colspan="3"><b>Předkolo</b></td>
              </tr>
              <tr>
                <td width="33%"><a href="" target="_blank">Pardubice B</a></td>
                <td width="33%">1:2</td>
                <td width="33%">
                  <a href="http://www.hokejprerov.cz" target="_blank">Přerov</a>
                </td>
              </tr>
              <tr>
                <td width="33%">
                  <a href="http://www.hc-slavia.cz" target="_blank"
                    >Slavia Praha</a
                  >
                </td>
                <td width="33%">1:2</td>
                <td width="33%">
                  <a href="http://www.hcdukla.cz" target="_blank"
                    >Dukla Jihlava</a
                  >
                </td>
              </tr>
            </table>

            <a href="tabulka.asp" class="show-more">Ukázat celou tabulku</a>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>

<div class="container">
  <h2 class="heading">Podobné články</h2>
  <div class="articles-list row">
    <a
      href="clanek.asp?id=Ctvrte-vitezstvi-v-priprave-zapas-s-Chomutovem-musely-rozseknout-az-najezdy--8285"
      class="col-md-4 col-sm-6 col-sm-6 col-xs-6 article"
    >
      <div class="article-inner">
        <div class="article-photo">
          <img
            src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=460&amp;h=265&amp;mtime=1724782312&amp;file=http://www.hstrebic.cz//files/articles_photo/8285_received-2456412221216137.jpeg"
          />
        </div>
        <div class="article-body">
          <div class="cat">Reportáže</div>
          <h2>
            Čtvrté vítězství v přípravě, zápas s Chomutovem musely rozseknout až
            nájezdy
          </h2>
          <div class="date">včera</div>
        </div>
      </div>
    </a>

    <a
      href="clanek.asp?id=Moravky-videly-kanonadu-Trebicsti-nasazeli-Jestrabum-sest-branek-8278"
      class="col-md-4 col-sm-6 col-sm-6 col-xs-6 article"
    >
      <div class="article-inner">
        <div class="article-photo">
          <img
            src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=460&amp;h=265&amp;mtime=1724363676&amp;file=http://www.hstrebic.cz//files/articles_photo/8278_received-1725545051585810.jpeg"
          />
        </div>
        <div class="article-body">
          <div class="cat">Reportáže</div>
          <h2>
            Morávky viděly kanonádu, Třebíčští nasázeli Jestřábům šest branek
          </h2>
          <div class="date">22.08.2024</div>
        </div>
      </div>
    </a>

    <a
      href="clanek.asp?id=Moravskobudejovicky-led-pokrten-vyhoru-proti-Pardubicim-8276"
      class="col-md-4 col-sm-6 col-sm-6 col-xs-6 article"
    >
      <div class="article-inner">
        <div class="article-photo">
          <img
            src="https://php.esports.cz/images/min_https.php?cover&amp;topcut&amp;exact&amp;w=460&amp;h=265&amp;mtime=1724190657&amp;file=http://www.hstrebic.cz//files/articles_photo/8276_received-908475921084992.jpeg"
          />
        </div>
        <div class="article-body">
          <div class="cat">Reportáže</div>
          <h2>Moravskobudějovický led pokřtěn výhoru proti Pardubicím</h2>
          <div class="date">20.08.2024</div>
        </div>
      </div>
    </a>
  </div>
</div>

{% endblock %}
